/* selettori generali*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
}
/*classe per centrare e dimensionare
la pagina*/
.container {
  width: 70%;
  margin: 0 auto;
}
/*margine riga per compensare il
padding colonne*/
.riga{
  margin: 0 -10px;
}
/*selettore per clearfix*/
.riga:after {
  content: "";
  display: table;
  clear: both;
}
/* flotto tutte le colonne a sx
e metto un padding */
[class^="colonna-"] {
  float: left;
  padding: 10px;
  /* border: 1px solid black; */
}
/* altezza per debug, disabilita
quando fai Milestone 2*/
/* header [class^="colonna-"] > div {
  height: 100px;
} */
/* #gallery [class^="colonna-"] > div {
  height: 300px;
} */
/* #articles [class^="colonna-"]:first-child > div{
  height: 50px;
}
#articles [class^="colonna-"] > div{
  height: 300px;
} */
footer [class^="colonna-"] > div {
  height: 100px;
}
/*end debug */
/*classi utility per larghezza colonne*/
.colonna-100 {
  width: 100%;
}
.colonna-25 {
  width: 25%;
}
.colonna-50 {
  width: 50%;
}
/*utility per colore sfondo contenuti*/
.bg-pink {
  background-color: #E579E6;
}
.bg-yellow {
  background-color: #E1D67A;
}
.bg-cyan {
  background-color: #ABCFE7;
}
.bg-blue {
  background-color: #0186FD;
}
.bg-purple {
  background-color: #8801FE;
}
/*utility padding per colonne*/
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pt-50 {
  padding-top: 30em;
}
.pl-2 {
  padding-left: 3em;
}
.pr-0 {
  padding-right: 0;
}
/*utility per margini*/
.mt-10 {
  margin-top: 10px;
}

/*classi per immagini*/
.logo img{
  height: 3em;
  border-right: 1px solid #cecece;
  padding-right: 1em;
}
.navbar {
  font-weight: 300;
}
.jumbo {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 40em;
  color: #cecece;
  }
  [class^="bg-"]{

    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
  }
.leadership {
  background-color: #fff;
}
.bg-center img, .bg-left img, .bg-right img {
  width: 100%;
  height: auto;
  opacity: 50%;

}
